.App {
  text-align: center;
  min-height: calc(100vh - 34px);
  font-family: 'Raleway', sans-serif;
}

.quote {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: rgb(100, 100, 100);
}

.navbar_link{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar_link:hover {
  background-color: rgb(101, 127, 207);
}

.nav-ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(83, 100, 153)
}

.nav-li{
  float: left;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  color: rgb(190, 189, 189);
  font-family: 'Raleway', sans-serif;
}

.home {
  width: 35%;
  height: auto;
}

.weather{
  color: rgb(87, 87, 148);
}

img {
  border-radius: 5%;
}