.App {
  text-align: center;
  min-height: calc(100vh - 34px);
  font-family: 'Raleway', sans-serif;
}

.quote {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: rgb(100, 100, 100);
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.navbar_link{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  /* margin:5px; */
}

.navbar_link:hover {
  background-color: rgb(101, 127, 207);
}

.nav-ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(83, 100, 153)
}

.nav-li{
  /* display: block; */
  float: left;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  color: rgb(190, 189, 189);
  font-family: 'Raleway', sans-serif;
  /* align-items: 'center'; */
}

.home {
  width: 35%;
  height: auto;
}

.weather{
  /* align-items: left; */
  color: rgb(87, 87, 148);
}

img {
  border-radius: 5%;
}